html{
	font-family: arial;
}

h1{
	color: #1800FF;
	font-size: 150px;

}

.BusinessCard{
	
}


.bu{
    
    font-size: 60px;
    color: blue;

}

.rs{
    
     font-size: 80px;
     color: red;

}

.Vazhthumedal{

	
}